doctype html 
html
	link(href="../css/app.css", rel="stylesheet")
	meta(charset="UTF-8")
	meta(http-equiv="X-UA-Compatible" content="IE=edge")
	meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no")
	meta(http-equiv="content-language" content="zh-TW")
	body(ontouchstart="")
		header
			.headerLeft
				.mobileMenu.fa.fa-bars
					ul.genderSelectMobile
						li
							a.female(href="#", title="title") 女裝
							ul.femaleBrand
								li
									a(href="") 全部品牌
								li
									a(href="") FashionMax
								li
									a(href="") ZARA
								li
									a(href="") Uniqlo
						li
							a.male(href="#", title="title") 男裝
				.logo
					img(src="../img/logo.png", alt="")
				ul.genderSelect
					li
						a.female(href="#", title="title") 女裝
						ul.femaleBrand
							li
								a(href="") 全部品牌
							li
								a(href="") FashionMax
							li
								a(href="") ZARA
							li
								a(href="") Uniqlo
					li
						a.male(href="#", title="title") 男裝
			.headerRight
				.cart
					.cartItemCounts 0
					a(href="#" data-cart="11")
						img(src="../img/icon-11.png", alt="")
					ul.cartList
						//- li.cartItem
						//- 	.cartItemImage
						//- 		img(src="../img/icon-01.png", alt="")
						//- 	.cartItemInfo
						//- 		span FashionMax
						//- 		h5 真絲粉色Oversize襯衫
						//- 		span $990
						//- 	button.delCartItem.fa.fa-trash-o
						button.cartPay 立即結帳
				.user
					a(href="#")
						img(src="../img/icon-12.png", alt="")
					.loginOptions
						button.facebook Facebook 帳號登入
							i.fa.fa-facebook
						button.google Google 帳號登入
							i.fa.fa-google
						p or
						form(action="")
							input(type="text" placeholder="帳號")
							input(type="text" placeholder="密碼")
							input(type="submit" value="登入")
		main.content
			.container-fluid
				section.categoryPanel
					.row.categoryRow
						.col-md-6
							.categories.hair
								img(src="../img/icon-01.png", alt="")
								p 髮型
						.col-md-6
							.categories(style="opacity: .2;")
								img(src="../img/icon-02.png", alt="")
								p 飾品
						.col-md-6
							.categories(style="opacity: .2;")
								img(src="../img/icon-03.png", alt="")
								p 內搭
						.col-md-6
							.categories.top
								img(src="../img/icon-04.png", alt="")
								p 上衣
						.col-md-6
							.categories(style="opacity: .2;")
								img(src="../img/icon-05.png", alt="")
								p 外套
						.col-md-6
							.categories.dress
								img(src="../img/icon-06.png", alt="")
								p 洋裝
						.col-md-6
							.categories.skirt
								img(src="../img/icon-08.png", alt="")
								p 裙子
						.col-md-6
							.categories.trouser
								img(src="../img/icon-09.png", alt="")
								p 褲子
						.col-md-6
							.categories.bag
								img(src="../img/icon-07.png", alt="")
								p 包包
						.col-md-6
							.categories.shoes
								img(src="../img/icon-10.png", alt="")
								p 鞋子

				section.mainPanel
					.itemPanel
						//- hair pannel
						.row.text-center.itemRow#hair
							.col-sm-6.col-xs-12
								.items.hair(data-itemImg="../img/hair/use/hair_00.png")
									img(src="../img/hair/display/hair_000.png", alt="")
							.col-sm-6.col-xs-12
								.items.hair(data-itemImg="../img/hair/use/hair_03.png")
									img(src="../img/hair/display/hair_003.png", alt="")
							.col-sm-6.col-xs-12
								.items.hair(data-itemImg="../img/hair/use/hair_04.png")
									img(src="../img/hair/display/hair_004.png", alt="")
						//- top pannel
						.row.text-center.itemRow#top
							.col-sm-6.col-xs-12
								.items(data-itemImg="../img/top/display/top_000.png")
									.infoBtn.fa.fa-search
									img(src="../img/top/display/top_000.png", alt="")
									p AUSTIN W.
									p 極簡無袖上衣
									span $790
							.col-sm-6.col-xs-12
								.items(data-itemImg="../img/top/display/top_001.png")
									.infoBtn.fa.fa-search
									img(src="../img/top/display/top_001.png", alt="")
									p FashionMax
									p 真絲粉色Oversize襯衫
									span $1990
							.col-sm-6.col-xs-12
								.items(data-itemImg="../img/top/display/top_002.png")
									.infoBtn.fa.fa-search
									img(src="../img/top/display/top_002.png", alt="")
									p FashionMax
									p 黑色綁帶及膝外罩背心
									span $990
						
						//- trouser pannel
						.row.text-center.itemRow#trouser
							.col-sm-6
								.items(data-itemImg="../img/bottom/display/bottom_007.png")
									.infoBtn.fa.fa-search
									img(src="../img/bottom/display/bottom_007.png", alt="")
									p FashionMax
									p 刷色Skinny單寧褲
									span $990
							.col-sm-6
								.items(data-itemImg="../img/bottom/display/bottom_008.png")
									.infoBtn.fa.fa-search
									img(src="../img/bottom/display/bottom_008.png", alt="")
									p FashionMax
									p 修身黑色小喇叭褲
									span $1090

						//- skirt pannel
						.row.text-center.itemRow#skirt
							.col-sm-6
								.items(data-itemImg="../img/bottom/display/bottom_009.png")
									.infoBtn.fa.fa-search
									img(src="../img/bottom/display/bottom_009.png", alt="")
									p FashionMax
									p 藍 x 白撞色迷你短裙
									span $1490
							.col-sm-6
								.items(data-itemImg="../img/bottom/display/bottom_010.png")
									.infoBtn.fa.fa-search
									img(src="../img/bottom/display/bottom_010.png", alt="")
									p FashionMax
									p 單排扣單寧短裙
									span $1990

						//- dress pannel
						.row.text-center.itemRow#dress
							.col-sm-6
								.items(data-itemImg="../img/dress/display/dress_000.png")
									.infoBtn.fa.fa-search
									img(src="../img/dress/display/dress_000.png", alt="")
									p FashionMax
									p 菱紋膝上連身衣
									span $790
							.col-sm-6
								.items(data-itemImg="../img/dress/display/dress_001.png")
									.infoBtn.fa.fa-search
									img(src="../img/dress/display/dress_001.png", alt="")
									p FashionMax
									p 草綠率性洋裝
									span $990
							.col-sm-6
								.items(data-itemImg="../img/dress/display/dress_002.png")
									.infoBtn.fa.fa-search
									img(src="../img/dress/display/dress_002.png", alt="")
									p FashionMax
									p 牛仔長裙
									span $1090

						//- bag pannel
						.row.text-center.itemRow#bag
							.col-sm-6
								.items(data-itemImg="../img/bag/display/bag_000.png")
									.infoBtn.fa.fa-search
									img(src="../img/bag/display/bag_000.png", alt="")
									p AUSTIN W.
									p Pashli 經典設計兩用包
									span $1190
							.col-sm-6
								.items(data-itemImg="../img/bag/display/bag_001.png")
									.infoBtn.fa.fa-search
									img(src="../img/bag/display/bag_001.png", alt="")
									p FashionMax
									p 質感系靚皮硬挺包
									span $890
							.col-sm-6
								.items(data-itemImg="../img/bag/display/bag_002.png")
									.infoBtn.fa.fa-search
									img(src="../img/bag/display/bag_002.png", alt="")
									p AUSTIN W.
									p 圖騰烙印橫紋托特包
									span $2900

						//- shoes pannel
						.row.text-center.itemRow#shoes
							.col-sm-6
								.items(data-itemImg="../img/shoes/display/shoes_000.png")
									.infoBtn.fa.fa-search
									img(src="../img/shoes/display/shoes_000.png", alt="")
									p FashionMax
									p 真皮露跟樂福鞋
									span $3900
							.col-sm-6
								.items(data-itemImg="../img/shoes/display/shoes_001.png")
									.infoBtn.fa.fa-search
									img(src="../img/shoes/display/shoes_001.png", alt="")
									p FashionMax
									p 黃金女神涼鞋
									span $2990
							.col-sm-6
								.items(data-itemImg="../img/shoes/display/shoes_002.png")
									.infoBtn.fa.fa-search
									img(src="../img/shoes/display/shoes_002.png", alt="")
									p FashionMax
									p 黑色厚底台涼鞋
									span $1990

					.modelPanel
						.model
							.modelHairItem(style='background-image: url(../img/hair/use/hair_03.png); background-position: center -30px' data-label="髮型" data-modelItemImg="../img/hair/use/dress_03.png")
							.modelItem(style='background-image: url(../img/dress/use/dress_00.png); background-position: center -30px' data-label="洋裝" data-modelItemImg="../img/dress/use/dress_00.png")
							.modelItem(style='background-image: url(../img/bag/use/bag_00.png); background-position: center -30px' data-label="包包" data-modelItemImg="../img/bag/use/bag_00.png")
							.modelItem(style='background-image: url(../img/shoes/use/shoes_00.png); background-position: center -30px' data-label="鞋子" data-modelItemImg="../img/shoes/use/shoes_00.png")
							.btn.btn-primary.add-all-in-cart 
								i.fa.fa-cart-plus 
								span  一鍵加入購物車
							ul.demoList
								li.selectListItem(style='background-image: url(../img/dress/display/dress_000.png)' data-selectImg="../img/dress/display/dress_000.png")
									.deleteBtn &#10006;
								li.selectListItem(style='background-image: url(../img/bag/display/bag_000.png)' data-selectImg="../img/bag/display/bag_000.png")
									.deleteBtn &#10006;
								li.selectListItem(style='background-image: url(../img/shoes/display/shoes_000.png)' data-selectImg="../img/shoes/display/shoes_000.png")
									.deleteBtn &#10006;

			#myModal.modal.fade(role='dialog')
				.modal-dialog
					//- // Modal content
					.modal-content
						button.close(type='button', data-dismiss='modal') &#10006;
						.modal-body
							.row
								.col-sm-6.itemPhotos
									ul.itemList
										li.itemAvatar
									.itemSample

								.col-sm-6.itemInfos
									h2 AUSTIN W.
									h3 極簡無袖上衣
									h4 $ 990
									.form-group
										label(for="sizeSelect") Size
										select.form-control
											option M
											option L
											option XL
									
									button.btn.btn-primary.addCart 加入購物車

									p(style="font-weight:bold;") 商品說明
									.itemDesc
										p 簡約解構版型-超舒適純棉材質
										p 簡約解構版型-超舒適純棉材質


			#snackBar
				span 已加入購物車
			.hide.images-load
				h1 load all model display here secretly
				img(src="../img/hair/use/hair_00.png", alt="")
				img(src="../img/hair/display/hair_000.png", alt="")
				img(src="../img/hair/use/hair_03.png", alt="")
				img(src="../img/hair/display/hair_003.png", alt="")
				img(src="../img/hair/use/hair_04.png", alt="")
				img(src="../img/hair/display/hair_004.png", alt="")
				img(src="../img/top/use/top_00.png", alt="")
				img(src="../img/top/use/top_01.png", alt="")
				img(src="../img/top/use/top_02.png", alt="")
				img(src="../img/bottom/use/bottom_07.png", alt="")
				img(src="../img/bottom/use/bottom_08.png", alt="")
				img(src="../img/bottom/use/bottom_09.png", alt="")
				img(src="../img/bottom/use/bottom_10.png", alt="")
				img(src="../img/dress/use/dress_00.png", alt="")
				img(src="../img/dress/use/dress_01.png", alt="")
				img(src="../img/dress/use/dress_02.png", alt="")
				img(src="../img/bag/use/bag_00.png", alt="")
				img(src="../img/bag/use/bag_01.png", alt="")
				img(src="../img/bag/use/bag_02.png", alt="")
				img(src="../img/shoes/use/shoes_00.png", alt="")
				img(src="../img/shoes/use/shoes_01.png", alt="")
				img(src="../img/shoes/use/shoes_02.png", alt="")
				img(src="../img/top/info/top_00_0.png", alt="")
				img(src="../img/top/info/top_00_1.png", alt="")
				img(src="../img/top/info/top_01_0.png", alt="")
				img(src="../img/top/info/top_01_1.png", alt="")
				img(src="../img/top/info/top_01_2.png", alt="")
				img(src="../img/top/info/top_02_0.png", alt="")
				img(src="../img/top/info/top_02_1.png", alt="")
				img(src="../img/bottom/info/bottom_07_0.png", alt="")
				img(src="../img/bottom/info/bottom_07_1.png", alt="")
				img(src="../img/bottom/info/bottom_08_0.png", alt="")
				img(src="../img/bottom/info/bottom_08_1.png", alt="")
				img(src="../img/bottom/info/bottom_09_0.png", alt="")
				img(src="../img/bottom/info/bottom_09_1.png", alt="")
				img(src="../img/bottom/info/bottom_10_0.png", alt="")
				img(src="../img/bottom/info/bottom_10_1.png", alt="")
				img(src="../img/dress/info/dress_00_0.png", alt="")
				img(src="../img/dress/info/dress_00_1.png", alt="")
				img(src="../img/dress/info/dress_01_0.png", alt="")
				img(src="../img/dress/info/dress_02_0.png", alt="")
				img(src="../img/dress/info/dress_02_1.png", alt="")
				img(src="../img/bag/info/bag_00_0.png", alt="")
				img(src="../img/bag/info/bag_00_1.png", alt="")
				img(src="../img/bag/info/bag_00_2.png", alt="")
				img(src="../img/bag/info/bag_01_0.png", alt="")
				img(src="../img/bag/info/bag_01_1.png", alt="")
				img(src="../img/bag/info/bag_01_2.png", alt="")
				img(src="../img/bag/info/bag_02_0.png", alt="")
				img(src="../img/bag/info/bag_02_1.png", alt="")
				img(src="../img/bag/info/bag_02_2.png", alt="")
				img(src="../img/shoes/info/shoes_00_0.png", alt="")
				img(src="../img/shoes/info/shoes_00_1.png", alt="")
				img(src="../img/shoes/info/shoes_00_2.png", alt="")
				img(src="../img/shoes/info/shoes_01_0.png", alt="")
				img(src="../img/shoes/info/shoes_01_1.png", alt="")
				img(src="../img/shoes/info/shoes_01_2.png", alt="")
				img(src="../img/shoes/info/shoes_02_0.png", alt="")
				img(src="../img/shoes/info/shoes_02_1.png", alt="")

	script(src="../js/app.js")
	