*{
	border: solid 1px;
}

// reset grid system
.container-fluid{
	padding: 0;
	.row{
		margin: 0;
		[class*=col-]{
			padding: 0;
		}
	}
}

body, html{
	width: 100%;
	height: 100%;
	// overflow: hidden;
}

a:link, :hover, :active, :visited{
	text-decoration: none;
	outline: none;
	color: #333;
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header, .headerLeft, .headerRight{
	display: flex;
}

header{
	height: 60px;
	align-items: center;
	padding: 20px;
	position: relative;
	border-bottom: solid 1px rgba(0,0,0,.5);
	box-shadow: 0 0 3px rgba(0,0,0,.5);
	.mobileMenu{
		line-height: 30px;
		font-size: 20px;
		margin-right: 10px;
		cursor: pointer;
		display: none;
		.genderSelectMobile{
			position: fixed;
			font-size: 16px;
			font-weight: bold;
			top: 60px;
			left: -180px;
			padding: 10px 12px;
			z-index: 100;
			height: 100vh;
			width: 180px;
			transition: .2s;
			background-color: #fff;
			border-right: solid 1px rgba(0, 0, 0, .1);
			li{
				border-bottom: solid 1px rgba(0, 0, 0, .1);
				&:last-of-type{
					border: none;
				}
			}
			.femaleBrand{
				font-weight: normal;
				text-indent: 16px;
				overflow: hidden;
			}
			&.showMenu{
				left: 0 !important;
			}
		}
		@media (max-width: 767px){
			display: block;
		}
	}
	.logo{
		width: 180px;
		height: 31px;
		img{
			width: 100%;
			height: auto;
		}
		@media (max-width: 479px){
			width: 120px;
			img{
				height: 100%;
			}
		}
	}
	.genderSelect{
		margin-left: 50px;
		display: flex;
		a.female, a.male{
			padding: 20px 20px 17px 20px ;
			line-height: 30px;
			border-bottom: 5px solid transparent;
			&:hover{
				border-bottom: 5px solid #C7BA92;
			}
		}
		a.female:hover ~ .femaleBrand{
			display: flex;
		}
		.femaleBrand{
			position: fixed;
			top: 60px;
			left: 0;
			z-index: 5;
			border-bottom: solid 1px rgba(0,0,0,.2);
			display: none;
			width: 100%;
			height: 63px;
			padding-left: 235px;
			background-color: white;
			a{
				line-height: 65px;
				padding: 25px 20px;
			}
			&:hover{
				display: flex;
			}
		}
		@media (max-width: 767px){
			display: none;
		}
	}
	.headerRight{
		position: absolute;
		right: 0px;
		a{
			padding: 20px 0;
		}
		img{
			width: 60px;
			height: 60px;
		}
		.cart{
			position: relative;
			.cartItemCounts{
				position: absolute;
				right: 5px;
				top: 5px;
				width: 18px;
				height: 18px;
				line-height: 18px;
				text-align: center;
				border-radius: 50%;
				background-color: #999;
				color: #fff;
			}
			.cartList{
				display: none;
				position: fixed;
				border: solid 1px rgba(0,0,0,.1);
				background-color: white;
				border-top: none;
				width: 300px;
				z-index: 100;
				right: 0;
				.cartItem{
					padding: 10px 0;
					margin: 0 15px;
					background-color: white;
					display: flex;
					align-items: center;
					position: relative;
					border-bottom: solid 1px rgba(0,0,0,.1);
					&:last-of-type {
						border: none;
					}
					.cartItemImage{
						margin-right: 10px;
					}
					.delCartItem{
						font-size: 20px;
						position: absolute;
						right: 0px;
						background-color: transparent;
						border: none;
						outline: none;
					}
				}
				button.cartPay {
					width: calc(100% - 20px);
					margin: 10px;
					padding: 5px 0;
					background-color: transparent;
					color: #E3DCC9;
					border: solid 1px #E3DCC9;
					transition: .2s;
					&:hover{
						color: #fff;
						background-color: #E3DCC9;
					}
				}
			}
			&.show{
				display: block;
			}
		}
		.user{
			.loginOptions{
				display: none;
				padding: 15px 20px;
				width: 280px;
				position: fixed;
				right: 0;
				z-index: 100;
				flex-direction: column;
				background-color: #fff;
				border: solid 1px rgba(0, 0, 0, .1);
				text-align: center;
				button{
					background-color: #fff;
					border: none;
					margin-bottom: 10px;
					padding: 8px;
					&.facebook{
						color: #354676;
						border: solid 1px #354676;
						transition: .2s;
						&:hover{
							color: #fff;
							background-color: #354676;
						}
					}
					&.google{
						color: #DC6658;
						border: solid 1px #DC6658;
						&:hover {
							color: #fff;
							background-color: #DC6658;
						}
					}
					.fa{
						position: absolute;
						left: 28px;
						line-height: 20px;
						font-size: 18px;
					}
				}
				form{
					display: flex;
					flex-direction: column;
					font-size: 10px;
					input{
						margin-bottom: 10px;
						padding: 5px 10px;
						&[type="submit"]{
							background-color: #C8BB93;
							border: none;
							color: #fff;
							&:hover{
								opacity: .8;
							}
						}
					}
					::-webkit-input-placeholder {
						/* Chrome */
						opacity: .5;
					}
					:-ms-input-placeholder {
						/* IE 10+ */
						opacity: .5;
					}
					::-moz-placeholder {
						/* Firefox 19+ */
						opacity: .5;
					}
					:-moz-placeholder {
						/* Firefox 4 - 18 */
						opacity: .5;
					}
				}
				&.showLogIn {
					display: flex !important;
				}
			}
		}
	}
}

main.content{
	.container-fluid{
		display: flex;
		position: relative;
	}
	max-width: 1200px;
	margin: auto;
	height: calc(100vh - 60px);
	display: flex;
	.categoryPanel,
	.itemPanel,
	.modelPanel{
		height: 90vh;
		overflow: scroll;
		@media (max-width: 992px){
			padding: 0;
		}
	}

	// --------------------- Category Panel --------------------
	.categoryPanel{
		width: 200px;
		overflow: hidden;
		.categories{
			text-align: center;
			background-color: #F2F2F2;
			margin: 5px;
			padding: 2px;
			transition: .2s;
			cursor: pointer;
			img{
				height: 60px;
			}
			&.active{
				background-color: #CCCCCC;
			}
		}
		@media (max-width: 991px){
			height: 100%;
			padding: 0;
			h4{
				display: none;
			}
			.row{
				display: flex;
				justify-content: space-between;
				.col-md-6{
					width: 100%;
					.categories{
						margin: 0;
					}
				}
			}
		}
		@media (max-width: 767px){
			width: 100vw;
			.categoryRow{
				display: flex;
				justify-content: space-between;
				.col-md-6{
					width: 100%;
					height: 60px;
					.categories{
						height: 100%;
						min-width: 60px;
						line-height: 55px;
						img{
							display: none;
						}
						p{
							margin: 0;
						}
					}
				}
			}
		}
	}


	// --------------------- Item Panel --------------------
	.mainPanel{
		display: flex;
		width: calc(100% - 200px);
		overflow: hidden;
	}
	.itemPanel{
		width: 30%;
		transition: .3s;
		background-color: #F2F2F2;
		border-right: 1px solid rgba(0, 0, 0, .2);
		border-left: 1px solid rgba(0, 0, 0, .2);
		margin-left: -30%;
		#trouser, #skirt, #dress, #bag, #shoes{
			display: none;
		}
		.items{
			background-color: white;
			padding: 10px;
			margin: 5px;
			border: 1px solid rgba(0,0,0,.2);
			position: relative;
			cursor: pointer;
			p:first-of-type{
				color: grey;
				font-size: 13px;
				margin-bottom: 0;
			}
			p:last-of-type{
				font-size: 14px;
				margin-bottom: 3px;
				min-height: 40px;
			}
			img{
				width: 70%;
				margin-bottom: 10px;
			}
			.infoBtn{
				position: absolute;
				right: 0;
				top: 0;
				width: 24px;
				height: 24px;
				color: #666666;
				font-size: 16px;
				text-align: center;
				line-height: 25px;
				background-color: #CCCCCC;
				visibility: hidden;
			}
			&:hover{
				.infoBtn{
					visibility: visible;
				}
			}
		}
		@media (max-width: 479px){
			padding: 0;
			.items{
				padding: 0;
				margin: 0;
				p:first-of-type, p:last-of-type{
					font-size: 12px;
					min-height: 0;
				}
				.infoBtn{
					visibility: visible;
				}
			}
		}
	}


// --------------------- Model Panel --------------------
	.modelPanel{
		display: flex;
		width: 100%;
		transition: .3s;
		.model{
			width: 100%;
			border: 1px solid rgba(0,0,0,.2);
			position: relative;
			background-image: url(../img/model.png);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;

			//model demo
			.modelItem{
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				width: 100%;
				height: 100%;
			}
			.demoList{
				position: absolute;
				right: 10px;
				top: 10px;
				z-index: 100;
				height: 100%;
				overflow: scroll;
				.selectListItem{
					width: 70px;
					height: 70px;
					min-width: 50px;
					border: 1px solid rgba(0,0,0,.2);
					margin-top: 10px;
					position: relative;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					overflow: scroll;
					.deleteBtn{
						cursor: pointer;
						height: 15px;
						width: 15px;
						font-size: 8px;
						line-height: 20px;
						border-radius: 50%;
						background-color: #666666;
						color: white;
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						right: 2px;
						top: 2px;
						visibility: hidden;
					}
					&:hover{
						.deleteBtn{
							visibility: visible;
						}
					}
					//select items
					&:first-child{
						margin-top: 0;
					}
				}
			}
		}
		@media(max-width: 991px) {
			.model {
				border: none;
				margin: auto;
				height: calc(100% - 180px);
				.demoList {
					height: auto;
					display: flex;
					justify-content: center;
					left: 0;
					top: calc(100% + 20px);
					width: 100%;
					.selectListItem {
						margin-top: 0;
						margin-right: 10px;
						width: 80px;
						height: 80px;
						.deleteBtn {
							visibility: visible;
							width: 25px;
							height: 25px;
							font-size: 20px;
							border-radius: 0;
							top: 0;
							right: 0;
						}
					}
				}
			}
		}
		@media (max-width: 479px){
			.model .demoList{
				justify-content: space-between;
			}
		}
	}
}
// }

#snackBar {
	visibility: hidden;
	background-color: #666;
	color: #fff;
	text-align: center;
	padding: 5px 16px;
	line-height: 20px;
	position: fixed;
	z-index: 100;
	left: 50%;
	top: 80px;
	transform: translateX(-50%);
	&.show {
		visibility: visible;
		animation: fadein 1s, fadeout 0.5s 2.5s;
	}
	@keyframes fadein {
		0% {
			top: 0;
			opacity: 0;
		}
		50% {
			top: 0;
			opacity: 0;
		}
		100% {
			top: 80px;
			opacity: 1;
		}
	}
	@keyframes fadeout {
		from {
			top: 80px;
			opacity: 1;
		}
		to {
			top: 0;
			opacity: 0;
		}
	}
}

#myModal {

	&.modal{
		// width: 95%;
		margin: auto;
		@media(max-width: 767px){
			transform: scale(.9);
		}
	}
	.modal-content{
		padding: 40px 0 30px 0;

		.close {
			width: 40px;
			height: 40px;
			font-size: 30px;
			line-height: 30px;
			color: #CCCCCC;
			border-color: #CCCCCC;
			background-color: #fff;
			border: solid 1px;
			position: absolute;
			outline: none;
			right: 15px;
			top: 15px;
		}
		.modal-body{
			.itemPhotos{
				display: flex;
				padding-bottom: 30px;
				padding: 15px;
				.itemList{
					padding: 0 10px;
					.itemAvatar{
						background-size: cover;
						background-position: center;
						width: 70px;
						height: 90px;
						margin-bottom: 10px;
						cursor: pointer;
					}
				}
				.itemSample{
					background-image: url(../img/top/info/top_00_1.png);
					background-size: contain;
					background-position: center top;
					background-repeat: no-repeat;
					width: 100%;
					padding: 50% 0;
				}
			}
			.itemInfos{
				padding: 15px;
				h2{
					margin-top: 0;
				}
			}
			button.btn.btn-primary{
				width: 100%;
				margin-bottom: 30px;
				outline: none;
			}
			.itemDesc{
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				padding: 30px 0;
			}
		}
	}
}