*{
	// border: solid 1px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif ,'微軟正黑體';
}

/* reset grid system*/

$md: 1200px;
$sm: 992px;
$xs: 767px;
$xxs: 479px;

.container-fluid{
	height: 100vh;
	padding: 0;
	.row{
		margin: 0;
		[class*=col-]{
			padding: 0;
		}
	}
}

::-webkit-scrollbar {
	display: none;
}

body, html{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

a:link, :hover, :active, :visited{
	text-decoration: none;
	outline: none;
	color: initial;
}

ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header, .headerLeft, .headerRight{
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
}

header{
	height: 60px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 20px;
	position: relative;
	border-bottom: solid 1px rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 3px rgba(0,0,0,.5);
	        box-shadow: 0 0 3px rgba(0,0,0,.5);
	.mobileMenu{
		line-height: 30px;
		font-size: 20px;
		margin-right: 10px;
		cursor: pointer;
		display: none;
		.genderSelectMobile{
			position: fixed;
			font-size: 16px;
			font-weight: bold;
			top: 60px;
			left: -180px;
			padding: 10px 12px;
			z-index: 400;
			height: 100%;
			width: 180px;
			-webkit-transition: .2s;
			transition: .2s;
			background-color: #fff;
			border-right: solid 1px rgba(0, 0, 0, .1);
			li{
				border-bottom: solid 1px rgba(0, 0, 0, .1);
				&:last-of-type{
					border: none;
				}
			}
			.femaleBrand{
				font-weight: normal;
				text-indent: 16px;
				overflow: hidden;
			}
			&.showMenu{
				left: 0 !important;
			}
		}
		@media (max-width: $xs){
			display: block;
		}
		@media (max-width: $xxs){
			.genderSelectMobile{
				top: 41px;
			}
		}
	}
	.logo{
		width: 180px;
		height: 31px;
		img{
			width: 100%;
			height: auto;
		}
		@media (max-width: $xxs){
			width: 120px;
			img{
				height: 100%;
			}
		}
	}
	.genderSelect{
		margin-left: 50px;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		a.female, a.male{
			padding: 20px 20px 17px 20px ;
			line-height: 30px;
			border-bottom: 5px solid transparent;
			&:hover{
				border-bottom: 5px solid #C7BA92;
			}
		}
		a.female:hover ~ .femaleBrand{
			display: -webkit-flex;
			display: -ms-flex;
			display: flex;
		}
		.femaleBrand{
			position: fixed;
			top: 60px;
			left: 0;
			z-index: 100;
			border-bottom: solid 1px rgba(0,0,0,.2);
			display: none;
			width: 100%;
			height: 63px;
			padding-left: 235px;
			background-color: white;
			a{
				line-height: 65px;
				padding: 25px 20px;
			}
			&:hover{
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
			}
		}
		@media (max-width: $xs){
			display: none;
		}
	}
	.headerRight{
		position: absolute;
		right: 10px;
		top: 0;
		a{
			padding: 20px 0;
		}
		img{
			width: 50px;
		}
		.cart{
			position: relative;
			.cartItemCounts{
				position: absolute;
				right: 5px;
				top: 5px;
				width: 18px;
				height: 18px;
				line-height: 18px;
				text-align: center;
				border-radius: 50%;
				background-color: #999;
				color: #fff;
			}
			.cartList{
				display: none;
				position: fixed;
				border: solid 1px rgba(0,0,0,.1);
				background-color: white;
				width: 300px;
				z-index: 200;
				right: 0;
				top: 60px;
				.cartItem{
					padding: 10px 0;
					margin: 0 15px;
					background-color: white;
					display: -webkit-flex;
					display: -ms-flex;
					display: flex;
					padding-right: 25px;
					-webkit-box-align: center;
					    -ms-flex-align: center;
					        align-items: center;
					position: relative;
					border-bottom: solid 1px rgba(0,0,0,.1);
					&:last-of-type {
						border: none;
					}
					.cartItemImage{
						margin-right: 10px;
					}
					.cartItemInfo{
						span{
							font-size: 12px;
							&:last-of-type:before{
								content: "$ "
							}
						}
						h5{
							margin: 5px 0;
						}
					}
					.delCartItem{
						font-size: 20px;
						position: absolute;
						right: 0px;
						background-color: transparent;
						border: none;
						outline: none;
					}
				}
				button.cartPay {
					width: calc(100% - 20px);
					margin: 10px;
					padding: 5px 0;
					background-color: transparent;
					color: #E3DCC9;
					border: solid 1px #E3DCC9;
					-webkit-transition: .2s;
					transition: .2s;
					&:hover{
						color: #fff;
						background-color: #E3DCC9;
					}
				}
			}
		}
		.user{
			.loginOptions{
				display: none;
				padding: 15px 20px;
				width: 280px;
				position: fixed;
				right: 0;
				top: 60px;
				z-index: 200;
				-webkit-box-orient: vertical;
				-webkit-box-direction: normal;
				    -ms-flex-direction: column;
				        flex-direction: column;
				background-color: #fff;
				border: solid 1px rgba(0, 0, 0, .1);
				text-align: center;
				button{
					background-color: #fff;
					border: none;
					margin-bottom: 10px;
					padding: 8px;
					&.facebook{
						color: #354676;
						border: solid 1px #354676;
						-webkit-transition: .2s;
						transition: .2s;
						&:hover{
							color: #fff;
							background-color: #354676;
						}
					}
					&.google{
						color: #DC6658;
						border: solid 1px #DC6658;
						&:hover {
							color: #fff;
							background-color: #DC6658;
						}
					}
					.fa{
						position: absolute;
						left: 28px;
						line-height: 20px;
						font-size: 18px;
					}
				}
				form{
					display: -webkit-flex;
					display: -ms-flex;
					display: flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					    -ms-flex-direction: column;
					        flex-direction: column;
					font-size: 10px;
					input{
						border: none;
						border-bottom: solid 1px rgba(0, 0, 0, .2);
						margin-bottom: 10px;
						padding: 5px 10px;
						&[type="submit"]{
							background-color: #C8BB93;
							border: none;
							color: #fff;
							&:hover{
								opacity: .8;
							}
						}
					}
					::-webkit-input-placeholder {
						/* Chrome */
						opacity: .5;
					}
					:-ms-input-placeholder {
						/* IE 10+ */
						opacity: .5;
					}
					::-moz-placeholder {
						/* Firefox 19+ */
						opacity: .5;
					}
					:-moz-placeholder {
						/* Firefox 4 - 18 */
						opacity: .5;
					}
				}
				&.showLogIn {
					display: -webkit-flex !important;
					display: -ms-flex !important;
					display: flex !important;
				}
				&.showLogInMobile{
					right: 0;
				}
			}
		}
	}
	@media (max-width: $xxs){
		height: 40px;
		.headerRight {
			img{
				width: 40px;
			}
			.cart {
				position: relative;
				.cartItemCounts {
					top: 1px;
					right: 1px;
				}
				.cartList{
					width: 200px;
					right: -200px;
					top: 40px;
					height: 100%;
					display: block;
					overflow-y: scroll;
					-webkit-transition: .3s;
					transition: .3s;
					span, h5{
						margin: 0;
						font-size: 10px;
					}
					&.showCartMobile{
						right: 0;
					}
					.cartItem{
						margin: 0 10px;
					}
				}
			}
			.user {
				.loginOptions {
					width: 200px;
					height: 100%;
					z-index: 200;
					font-size: 10px;
					right: -200px;
					top: 40px;
					display: -webkit-flex;
					display: -ms-flex;
					display: flex;
					-webkit-transition: .3s;
					transition: .3s;
				}
			}
		}
	}		
}

main.content{
	.container-fluid{
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		position: relative;
		@media (max-width: $sm){
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
		}
	}
	height: 100%;
	max-width: 1200px;
	margin: auto;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	.categoryPanel,
	.itemPanel,
	.modelPanel{
		overflow: scroll;
		@media (max-width: $sm){
			padding: 0;
		}
		@media (max-width: $xxs) {
			height: calc(100% - 40px);
		}
	}

	/* --------------------- Category Panel --------------------*/
	.categoryPanel{
		width: 200px;
		height: 100%;
		overflow: hidden;
		padding: 5px;
		.categories{
			text-align: center;
			background-color: #F2F2F2;
			margin: 5px;
			padding: 2px;
			-webkit-transition: .2s;
			transition: .2s;
			cursor: pointer;
			img{
				height: 50px;
			}
			&.active{
				background-color: #CCCCCC;
			}
		}
		@media (max-width: $sm){
			height: -webkit-fit-content;
			height: -moz-fit-content;
			height: fit-content;
			width: 100%;
			padding: 0;
			border-bottom: solid 1px rgba(0, 0, 0, .1);
			.row{
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
								justify-content: space-between;
				.col-md-6{
					width: 100%;
					.categories{
						margin: 0;
					}
				}
			}
		}
		@media (max-width: $xs){
			width: 100vw;
			overflow-x: scroll;
			.categoryRow{
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				-webkit-box-pack: justify;
				    -ms-flex-pack: justify;
				        justify-content: space-between;
				.col-md-6{
					width: 100%;
					height: 60px;
					.categories{
						height: 100%;
						min-width: 60px;
						line-height: 55px;
						img{
							display: none;
						}
						p{
							margin: 0;
						}
					}
				}
			}
		}
	}


	/* --------------------- Item Panel --------------------*/
	.mainPanel{
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		width: calc(100% - 200px);
		height: 100vh;
		overflow: hidden;
		@media (max-width: $sm){
			width: 100%;
			height: 90vh;
		}
	}
	.itemPanel{
		width: 30%;
		// height: 100%;
		-webkit-transition: .3s;
		transition: .3s;
		background-color: #F2F2F2;
		border-right: 1px solid rgba(0, 0, 0, .2);
		border-left: 1px solid rgba(0, 0, 0, .2);
		margin-left: -30%;
		padding: 5px;
		.items.hair{
			img{
				width: 100%;
			}
		}
		.items{
			background-color: white;
			padding: 10px;
			margin: 5px;
			border: 1px solid rgba(0,0,0,.2);
			position: relative;
			cursor: pointer;
			p:first-of-type{
				color: grey;
				font-size: 13px;
				margin-bottom: 0;
			}
			p:last-of-type{
				font-size: 14px;
				margin-bottom: 3px;
				min-height: 57px;
			}
			img{
				width: 70%;
				margin-bottom: 10px;
			}
			.infoBtn{
				position: absolute;
				right: 0;
				top: 0;
				width: 24px;
				height: 24px;
				color: #666666;
				font-size: 16px;
				text-align: center;
				line-height: 25px;
				background-color: #CCCCCC;
			}
		}
		@media (max-width: $xs){
			padding: 0;
			.items{
				margin-bottom: 0px;
			}
		}
		@media (max-width: $xxs){
			.items{
				padding: 0;
				margin: 0;
				p:first-of-type, p:last-of-type{
					font-size: 12px;
					min-height: 0;
				}
				.infoBtn{
					visibility: visible;
				}
			}
		}
	}


/* --------------------- Model Panel --------------------*/
	.modelPanel{
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		width: 100%;
		height: calc(100% - 60px);
		-webkit-transition: .3s;
		transition: .3s;
		overflow: hidden;
		.model{
			width: 100%;
			height: 100%;
			border: none;
			position: relative;
			background-image: url('../img/model.png');
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center -30px;

			/*model demo*/
			.modelHairItem{
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				width: 100%;
				height: 100%;
			}
			.modelItem{
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				position: absolute;
				width: 100%;
				height: 100%;
			}
			.add-all-in-cart {
				position: absolute;
				top: 10px;
				right: 10px;
				z-index: 50;
			}
			.demoList{
				position: absolute;
				right: 10px;
				top: 55px;
				z-index: 50;
				height: calc(100% - 55px);
				overflow: scroll;
				.selectListItem{
					width: 70px;
					height: 70px;
					min-width: 50px;
					border: 1px solid rgba(0,0,0,.2);
					margin-top: 10px;
					position: relative;
					background-size: contain;
					background-repeat: no-repeat;
					background-position: center;
					overflow: hidden;
					.deleteBtn{
						cursor: pointer;
						height: 15px;
						width: 15px;
						font-size: 8px;
						line-height: 20px;
						border-radius: 50%;
						background-color: #666666;
						color: white;
						display: -webkit-flex;
						display: -ms-flex;
						display: flex;
						-webkit-box-align: center;
						    -ms-flex-align: center;
						        align-items: center;
						-webkit-box-pack: center;
						    -ms-flex-pack: center;
						        justify-content: center;
						position: absolute;
						right: 2px;
						top: 2px;
						visibility: visible;
					}
					/*select items*/
					&:first-child{
						margin-top: 0;
					}
				}
			}
		}
		@media(max-width: $sm) {
			.model {
				border: none;
				margin: 0 auto;
				height: calc(100% - 110px);
				.demoList {
					height: auto;
					display: -webkit-flex;
					display: -ms-flex;
					display: flex;
					padding: 0 10px;
					-webkit-box-pack: center;
					    -ms-flex-pack: center;
					        justify-content: center;
					left: 0;
					top: calc(100% + 20px);
					width: 100%;
					.selectListItem {
						margin-top: 0;
						margin-right: 10px;
						width: 70px;
						height: 70px;
						.deleteBtn {
							visibility: visible;
							width: 16px;
							height: 16px;
							font-size: 16px;
							background-color: transparent;
							color: #666666;
							border: none;
							top: 0;
							right: 0;
						}
					}
				}
			}
		}
		@media(max-width: $xxs){
			/* height: calc(100% - 40px);*/
			.model{
				height: calc(100% - 70px);
				.demoList{
					top: calc(100% + 10px);
					.selectListItem{
						width: 50px;
						height: 50px;
					}
				}
				.add-all-in-cart {
					text-align: center;
					font-size: 18px;
					padding: 0px 8px;
					span{
						display: none;
					}
				}
			}
		}
	}
}
/* }*/

#snackBar {
	visibility: hidden;
	background-color: #666;
	color: #fff;
	text-align: center;
	padding: 5px 16px;
	line-height: 20px;
	position: fixed;
	z-index: 100;
	left: 50%;
	top: 80px;
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	&.show {
		visibility: visible;
		-webkit-animation: fadein 1s, fadeout 0.5s 2.5s;
		        animation: fadein 1s, fadeout 0.5s 2.5s;
	}
	@-webkit-keyframes fadein {
		0% {
			top: 0;
			opacity: 0;
		}
		50% {
			top: 0;
			opacity: 0;
		}
		100% {
			top: 80px;
			opacity: 1;
		}
	}
	@keyframes fadein {
		0% {
			top: 0;
			opacity: 0;
		}
		50% {
			top: 0;
			opacity: 0;
		}
		100% {
			top: 80px;
			opacity: 1;
		}
	}
	@-webkit-keyframes fadeout {
		from {
			top: 80px;
			opacity: 1;
		}
		to {
			top: 0;
			opacity: 0;
		}
	}
	@keyframes fadeout {
		from {
			top: 80px;
			opacity: 1;
		}
		to {
			top: 0;
			opacity: 0;
		}
	}
}

#myModal {
	&.modal{
		margin: auto;
		@media(max-width: $xs){
			-webkit-transform: scale(.9);
			        transform: scale(.9);
		}
	}
	.modal-content{
		padding: 40px 0 30px 0;
		.close {
			width: 40px;
			height: 40px;
			font-size: 30px;
			line-height: 30px;
			color: #CCCCCC;
			border-color: #CCCCCC;
			background-color: #fff;
			border: none;
			position: absolute;
			outline: none;
			right: 15px;
			top: 15px;
		}
		.modal-body{
			.itemPhotos{
				display: -webkit-flex;
				display: -ms-flex;
				display: flex;
				flex-direction: column-reverse;
				padding-top: 15px;
				padding-left: 0;
				padding-right: 0;
				.itemList{
					padding: 0 10px;
					margin-top: 10px;
					display: flex;
					justify-content: center;
					.itemAvatar{
						background-size: cover;
						background-position: center;
						width: 70px;
						height: 90px;
						margin-right: 10px;
						cursor: pointer;
						&:last-child{
							margin-right: 0;
						}
					}
				}
				.itemSample{
					background-size: contain;
					background-position: center top;
					background-repeat: no-repeat;
					width: 100%;
					padding: 60% 0;
				}
				@media (max-width: $xs){
					flex-direction: row;
					padding-top: 15px;
					.itemList{
						display: block;
						width: 20%;
						padding: 0;
						padding-right:1.5%;
						margin-left: 2%;
						margin-top: 0;
						.itemAvatar{
							width: 100%;
							height: 30%;
							margin-right: 0;
							margin-bottom: 12%;
						}
					}
					.itemSample{
						width: 76%;
						padding: 50% 0;
					}
				}
			}
			.itemInfos{
				padding: 15px;
				h2{
					margin-top: 0;
				}
				h4:before{
					content: '$ '
				}
			}
			button.btn.btn-primary{
				width: 100%;
				margin-bottom: 30px;
				outline: none;
			}
			.itemDesc{
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				padding: 30px 0;
				max-height: 180px;
				overflow: scroll;
			}
		}
		@media (min-width: $md){
			padding: 40px;
			width: 70vw;
			max-height: 80vh;
			left: 50%;
			transform: translateX(-50%);
			.modal-body{
				max-height: 70vh;
				overflow: scroll;
				.itemSample{
					padding: 50% !important;
				}
			}
		}
	}
}